################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/_360.IdentityServer.DataBase/_360.IdentityServer.DataBase.jfm
